#root {
  --clr-primary-pale-blue: hsl(248, 96%, 91%);
  --clr-primary-bright-blue: hsl(245, 75%, 52%);

  --clr-neutral-blue: hsl(244.51deg 82.61% 68.43%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(229, 100%, 98%);
  --clr-neutral-desat-blue: hsl(224, 23%, 55%);
  --clr-neutral-dark-blue: hsl(223, 47%, 23%);

  --ff-base: "Red Hat Display", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 900;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
}

/* general styling */
body {
  display: grid;
  place-content: center;
  margin: 1.25rem;
  font-size: var(--fs-400);
  background-image: url("../assets/images/pattern-background-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (min-width: 1024px) {
  body {
    background-image: url("../assets/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* utilities */
.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* card style */
.card {
  --cotent-padding: 2rem;
  --cotent-spacing: 1rem;

  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-white);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 375px;
}

.card__content {
  display: grid;
  gap: var(--cotent-spacing);
  padding: var(--cotent-padding);
}

.card__title {
  text-align: center;
  color: var(--clr-neutral-dark-blue);
  font-weight: var(--fw-extra-bold);
}

.card__order-description {
  text-align: center;
  color: var(--clr-neutral-desat-blue);
}

.flex-group {
  display: flex;
  padding: 1.25rem 1rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-pale-blue);
  justify-content: space-between;
  align-items: center;
}

.card__plan {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__plan-details {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark-blue);
}

.card__plan-price {
  color: var(--clr-neutral-desat-blue);
}

.card__plan-change {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-bright-blue);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.5s ease;
}

.card__plan-change:hover {
  color: var(--clr-neutral-blue);
}

.card__button {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-bright-blue);
  color: var(--clr-neutral-white);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 20px 20px 2px var(--clr-primary-pale-blue);
  transition: background-color 0.5s ease;
}

.card__button:hover {
  background-color: var(--clr-neutral-blue);
}

.card__cancel-button {
  border: none;
  border: none;
  cursor: pointer;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-neutral-desat-blue);
  background-color: transparent;
  transition: color 0.5s ease;
}

.card__cancel-button:hover {
  color: var(--clr-neutral-dark-blue);
}

.attribution {
  margin-top: 1rem;
  font-family: var(--ff-base);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
